.startbutton{
    margin-top:20%;
    font-size: 18px;
  }

#olamlogo{
   width: 125px; 
   height: 125px;
   background: none;
  }

.olamInfoText{
  color: white;
}

#landingList1{
  position: absolute;
  top:5%;
  margin: 10%;
}
